*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 25px;
  justify-content: center;
  display: flex;
  background-color: #B7FDFE;
}

.container{
  width: 563px;
  height: 1000px;
  padding: 20px;
  background: black;
  border-radius: 50px;
  color: white;
}

#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: black;
  color: white;
  outline: none;
  text-align: end;
  margin-top: 150px;
}

#display::placeholder{
  color: white;
}

.keys{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.btn{
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 110px;
  justify-content: center;
  width: 110px;
}

.btn:hover{
    opacity: 0.7;
    
}

.btn3{
  color: black;
  background: #a5a5a5;
}

.btn.operator{
  background: #f1a33c;
}

.zero{
  border-radius: 55px;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 43px;
  width: 250px;
}